<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="constring" value="Provider=SQLOLEDB;Data Source=localhost;Initial Catalog=####;Persist Security Info=True;User ID=sa;Password=1234" />
    <add key="DBName" value="SMART_MES" />
  </appSettings>
  <system.web>
    <httpRuntime   maxRequestLength= "5120000"   executionTimeout="3600"   />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Basicbindings" maxReceivedMessageSize="8192000">
          <readerQuotas maxDepth="64"
                maxStringContentLength="8192000"
                maxArrayLength="16384000"
                maxBytesPerRead="4096000"
                maxNameTableCharCount="16384000" />
          <security mode="None" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="BsBinding">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="BsBinding" name="LEDIS.Service1">
        <endpoint address="" bindingConfiguration="Basicbindings" binding="basicHttpBinding" contract="LEDIS.IService"/>
      </service>
    </services>

    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <defaultDocument>
      <files>
        <add value="LEService.svc" />
      </files>
    </defaultDocument>
  </system.webServer>

  <connectionStrings>
    <add name="LEMESEntity" connectionString="metadata=res://*/LEMO.csdl|res://*/LEMO.ssdl|res://*/LEMO.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.1.57;Initial Catalog=SMART_MES;User ID=sa;Password=Sa123456;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>