<?xml version="1.0"?>
<configuration>
  <configSections></configSections>

  <appSettings>
    <add key="AccessConstring" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=###\BCMDB.mdb"/>
    <add key="constring" value="Provider=SQLOLEDB;server=192.168.1.11;database=####;User Id=sa;pwd=123;"/>
    <add key="DBName" value="ZN_LEMES"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.0.16:8022/LEService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService" contract="ServiceReference.IService"
        name="BasicHttpBinding_IService" />
    </client>
  </system.serviceModel>
 
</configuration>
