<?xml version="1.0"?>
<configuration>  
  
  <appSettings>
    <!--<add key="AccessConstring" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=###\BCMDB.mdb"/>
    <add key="constring" value="Provider=SQLOLEDB;server=localhost;database=###;User Id=lwl;pwd=890914;"/>
    <add key="DBName" value="lwl"/>-->
  </appSettings>
  <connectionStrings>
    <add name="maxWeight" connectionString="1000"/>
    <add name="minWeight" connectionString="100"/>
    <add connectionString="host=localhost;database=####;uid=sa;pwd=1234;charset=gb2312;Allow Zero Datetime=true;" name="ConnectionString"/>
  </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
