<?xml version="1.0"?>
<configuration>
	<configSections></configSections>

	<appSettings>
		<add key="AccessConstring" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=###\BCMDB.mdb"/>
		<add key="constring" value="Provider=SQLOLEDB;server=192.168.0.16 database=####;User Id=sa;pwd=abc=123;"/>
		<add key="DBName" value="LEMES_RD"/>
		
	</appSettings>
	<system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="655360" maxBufferPoolSize="524288" maxReceivedMessageSize="655360"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="655360" maxArrayLength="163840"
              maxBytesPerRead="40960" maxNameTableCharCount="163840" />
        </binding>
      </basicHttpBinding>
    </bindings>
		<client>
   <endpoint address="http://localhost:50352/LEService.svc" binding="basicHttpBinding"
    bindingConfiguration="BasicHttpBinding_IService" contract="ServiceReference.IService"
    name="BasicHttpBinding_IService" />
  </client>
	</system.serviceModel>

</configuration>
